.show-bean:hover {
    background-color: #000000 ;
}

.show-bean{
    color: #ffffff;
    background-color: #333333;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 15px;
    margin: 2px 5px;
}